{% extends "xpay/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{# overide the tile of the page #}
{% block title %}
    <title>Molla</title>
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'stylesheet/xpay/library/malangatana.css' %}">
    <style>
        body {
            background-color: whitesmoke;
        }

        form {
            margin-top: 80px;
            padding: 25px 85px;
            background: white none repeat scroll 0% 0%;
            border-radius: 4px;
            box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

        }
    </style>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">


            {% if validlink %}
                <h3>Mudar senha</h3>
                <form method="post" class="alignElementCenter">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="hello" value="Mudar senha">


                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}


            </form>

        </div>
    </div>








{% endblock %}










