

{% extends "xpay/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{# overide the tile of the page #}
{% block title %}
    <title>Molla</title>
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'stylesheet/xpay/account/sign.css' %}">
    <style>

    </style>
{% endblock %}



{% block content %}
    <div class="container">
    <div class="row justify-content-center align-items-center">



            <form method="post">
                    <p style="font-size: 15px">Digite o endereço de e-mail associado à sua conta e enviaremos um link para redefinir sua senha.</p>
                   <div class="form-group">
                     {{ form.email|as_crispy_field }}
                </div>
                {% csrf_token %}

                <input class="btn btn-primary" type="submit" value="Enviar">

            </form>
    </div>
    </div>








{% endblock %}


















