{% extends "dashboard/layout/base.html" %}
{% load static %}



{% block  content %}
    <style>
        .aside{
            background-color: rgb(24, 24, 24);
            height: 100vh;
        }
        table{
            width: 100%;
        }
        tr{
            border-bottom: 1px solid #f2f2f2;

        }
        table{
            border-radius: 10px;

            margin: 50px auto;
            overflow: hidden;
            box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

        }
        .card{
            border-radius: 10px;

            margin: 50px auto;
            overflow: hidden;
            box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            border:none;
        }
        .nav-color{
            background-color: #1546a0;
            height: 55px;

        }
    </style>

    <div class="container">
        <div class="row">









            <div class="col-md-12">
                <div class="col-md-6">


                    <h1>Activar Conta</h1>

                    <h2>Bem-vindo ao Xindiri</h2>
                    <p>



                        Antes de aceitar pagamentos usando mpesa, precisamos de algumas informações adicionais.
                        Por favor, preencha as informações necessárias e você estará pronto para aceitar pagamentos com mpesa.
                    </p>


                    <ul>
                        <li>activar conta</li>
                        <li>Levantar dinheiro</li>
                    </ul>
                </div>

            </div>
            <div col-md-3>
                <div class="">
                    <h3>Contas de Levantamento</h3>

                    <ul>
                        <li>Mpesa</li>
                        <li>Standard Bank</li>
                    </ul>
                    <span>adicionar conta</span>
                </div>
            </div>
            <div col-md-4>
                <div class="">
                    <h3>Contas de Levantamento</h3>

                    <ul>
                        <li>Mpesa</li>
                        <li>Standard Bank</li>
                    </ul>
                    <span>adicionar conta</span>
                </div>
            </div>
            <div col-md-4>
                <div class="">
                    <h3>Contas de Levantamento</h3>

                    <ul>
                        <li>Mpesa</li>
                        <li>Standard Bank</li>
                    </ul>
                    <span>adicionar conta</span>
                </div>
            </div>
           </div>



    </div>






{%  endblock%}