{% extends "dashboard/layout/base.html" %}
{% load static %}



 {% block  content %}
     <style>
        .aside{
        background-color: rgb(24, 24, 24);
            height: 100vh;
        }
        table{
            width: 100%;
        }
      tr{
          border-bottom: 1px solid #f2f2f2;

      }
     table{
         border-radius: 10px;

         margin: 50px auto;
         overflow: hidden;
         box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

     }

     </style>

     <div class="container-fluid">
         <!-- Stack the columns on mobile by making one full-width and the other half-width -->
         <div class="row">



             <div class="col-lg-2 col-md-3 aside">
                 <aside>
                     <ul>
                         <li><a href="#">Transações</a></li>
                     </ul>
                 </aside>


             </div>





             <div class="col-md-9">



                 <table class="table table-borderless">


                     <th >Numero do cliente</th>
                     <th >Referencia</th>
                     <th >Valor</th>
                     <th >Estado</th>
                     <th >Data</th>

                     </tr>
                     {% for payment in payments %}
                         <tr>
                             <td>{{ payment.contact}}</td>
                             <td>{{ payment.reference}}</td>
                             <td>{{ payment.amount}} MT</td>
                             <td>{{ payment.transaction_status }}</td>
                             <td>{{ payment.created_at}}</td>


                         </tr>
                     {% endfor %}



                 </table>


             </div>

             </div>



         </div>







 {%  endblock%}