{% extends "dashboard/layout/base.html" %}
{% load static %}



 {% block  content %}
     <style>
        .aside{
        background-color: rgb(24, 24, 24);
            height: 100vh;
        }

     </style>

     <div class="container-fluid">
         <!-- Stack the columns on mobile by making one full-width and the other half-width -->
         <div class="row">



             <div class="col-lg-2 col-md-3 aside">
                 <aside>
                     <ul>
                         <li><a href="#">Transações</a></li>
                     </ul>
                 </aside>


             </div>





             <div class="col-md-9">

                 <table class="table table-bordered">


                     <th scope="col">Numero do cliente</th>
                     <th scope="col">Referencia</th>
                     <th scope="col">Valor</th>
                     <th scope="col">Estado</th>
                     <th scope="col">Data</th>

                     </tr>
                     {% for payment in payments %}
                         <tr>
                             <td>{{ payment.contact}}</td>
                             <td>{{ payment.reference}}</td>
                             <td>{{ payment.amount}} MT</td>
                             <td>{{ payment.transaction_status }}</td>
                             <td>{{ payment.created_at}}</td>


                         </tr>
                     {% endfor %}



                 </table>


             </div>




         </div>







 {%  endblock%}