{% extends "dashboard/layout/base.html" %}
{% load static %}



{% block  content %}
    <style>
        .aside{
            background-color: rgb(24, 24, 24);
            height: 100vh;
        }
        table{
            width: 100%;
        }
        tr{
            border-bottom: 1px solid #f2f2f2;

        }
        table{
            border-radius: 10px;

            margin: 50px auto;
            overflow: hidden;
            box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

        }
     .card{
         border-radius: 10px;

         margin: 50px auto;
         overflow: hidden;
         box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
         border:none;
     }
    .nav-color{
        background-color: #1546a0;
        height: 55px;

    }
    </style>

    <nav class="navbar navbar-expand-lg nav-color">
        <div class="container">
            <div class="row">
        <a class="navbar-brand" href="#">Xindiri</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Painel <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">API</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Definições</a>
                </li>


            </ul>

        </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">









            <div class="col-md-6">
                <div class="card">


                    <h1>Saldo</h1>
                    <h2>340 MTN</h2>

                    <ul>
                        <li>Levantar dinheiro</li>
                    </ul>
                </div>

            </div>
            <div col-md-4>
                <div class="card">
                <h1>Contas de Levantamento</h1>

                <ul>
                    <li>Mpesa</li>
                    <li>Standard Bank</li>
                </ul>
                    <span>adicionar conta</span>
                </div>
            </div>

            <div class="col-md-6">
                <h1>Pagamentos recentes</h1>

                <table class="table table-borderless">


                    <th >Numero do cliente</th>
                    <th >Valor</th>
                    <th >Data</th>

                    </tr>
                    {% for payment in payments %}
                        <tr>
                            <td>+{{ payment.contact}}</td>
                            <td>{{ payment.amount}} MT</td>
                            <td>{{ payment.created_at}}</td>


                        </tr>
                    {% endfor %}
                </table>
            </div>


        </div>



    </div>







{%  endblock%}