{% extends "../xpay/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}

<title>market</title>
{% endblock %}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}


<main>
   <aside>

        <nav>
    <ul>
        <li>Painel</li>
        <li>Active sua conta </li>
        <li>Pagamentos</li>
        <li>API Key</li>

    </ul>


</nav>


   </aside>
   <section>

                <table>
                        <tr>


                          <th>Nome</th>
                          <th>Token</th>
                          <th>Data</th>

                        </tr>
                                <tr>
                                <td>API Key</td>
                                <td>{{ user.token.id }}  </td>




                            </tr>



                      </table>

   </section>
</main>

{% endblock %}







