{% extends "../xpay/layout/base.html" %}
{% load staticfiles %}



{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}
    <style>

    </style>
    <link rel="stylesheet" href="{% static 'stylesheet/xpay/dashboard.css' %}">{% endblock %}
{% load static %}



{% block  content %}
      {%    if not request.user.is_business  %}
                  {% include 'dashboard/active_account.html' %}
      {% else %}
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 aside">
                <aside>
                    {% include "dashboard/layout/aside.html" %}
                </aside>

            </div>
            <div class="col-md-10 ">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="m-card">

                                    {% if not transaction %}
                                        <div class="m-card-header">
                                            <div class="d-flex justify-content-center">
                                                <div class="">
                                                    <p class="text-center"><i class="fas fa-money-check fa-2x"></i>
                                                    </p>
                                                    <h1 class="title text-center">Você não tem nenhum pagamento de
                                                        teste. <a href="#"> Documentação</a>
                                                    </h1>
                                                </div>

                                            </div>
                                            </h1>
                                        </div>

                                    {% else %}


                                        <div class="m-card-header">
                                            <h1 class="title" style="font-weight: 600;">Pagamentos recentes</h1>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <th>Numero do cliente</th>
                                                <th>Valor</th>
                                                <th>Status</th>
                                                <th>Data</th>
                                                </thead>

                                                </tr>
                                                {% for payment in transactions %}
                                                    <tr>
                                                        <td>+{{ payment.phone_number }}</td>
                                                        <td>{{ payment.amount }} MT</td>
                                                        <td>{{ payment.transaction_status }}</td>

                                                        <td>{{ payment.created_at|date:'Y-m-d' }}</td>


                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        </div>


    </main>

{% endif %}

{% endblock %}






