button {
    display: block;
    margin: 0 auto;
    width: 200px;
}

button a {
    color: white;
    text-decoration: none;

    display: block;
    margin: 0 auto;
}

button a:hover {
    color: white;
    text-decoration: none;

    display: block;
    margin: 0 auto;
}
