body{

  margin: 0;
  padding: 0;
}
body{
  background-color:#F6F8FA;
}
.logo{
  display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}
.sign{
  height: auto;
  width: 400px;
   /*border: 1px solid #dbe2e8;*/
  background-color: white;
  border-radius: 9px;
}
input{
  width: 350px;
}
.errorlist{
  color: red;
  list-style: none;
}

input[type="submit"]{
  /*width: 200px;
  border:none;
  background-color: #328af1;
  color: white;
   border-radius: 9px;
  font-size: 16px;
  height: 50px*/
}

.message{
  padding: 20px;
}


@media only screen and  (max-width: 480px) {
  input{
    width: 100%;
  }
  .sign{
      width: 100%;
      height: auto;
  }
  .alignCenter{
    margin: 30px;
  }
  form{
    padding:  20px;
  }
}