{% extends "../../xpay/layout/base.html" %}
{% load static %}

{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <link rel="stylesheet" href="{% static 'stylesheet/xpay/dashboard.css' %}">{% endblock %}
{% load static %}

{% block  content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 aside">
                <aside>
                    {% include "dashboard/layout/aside.html" %}
                </aside>

            </div>
            <div class="col-md-9 ">
                <p class="api-documentation">Use a chave Test API para testar sua integração e a chave Live API para criar pagamentos reais. Por
                    favor, mantenha-os privados o máximo possível. <a href="">Leia mais sobre como integrar nossa API.</a>
                </p>
                <table class="table table table-borderless api">

                    <tr>
                        <td>API Key</td>
                        <td>{{ user.token.id }}  </td>


                    </tr>
                    <tr>
                        <td>Test API Key</td>
                        <td>{{ user.token.id }}  </td>


                    </tr>

                    <tr>
                        <td>Live API Key</td>
                        <td>{{ user.token.id }}  </td>


                    </tr>


                </table>

            </div>
        </div>
    </div>








{% endblock %}







