{% extends "../xpay/layout/base.html" %}
{% load static %}

{% load crispy_forms_tags %}


{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}
    <style>

    </style>
    <link rel="stylesheet" href="{% static 'stylesheet/xpay/dashboard.css' %}">{% endblock %}
{% load static %}



{% block  content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 aside">
                <aside>
                    {% include "dashboard/layout/aside.html" %}
                </aside>

            </div>
            <div class="col-md-10 ">
                <!--{% include "dashboard/layout/menu.html" %}-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="" method="POST">
                                {% csrf_token %}
                                                {% include 'xpay/includes/messages.html' %}

                                <p>
                                       Antes de aceitar pagamentos usando mpesa, precisamos que active a sua conta pagando uma  taxa única de {{ package.price }} MT pelo serviço.

                                </p>
                                {{ form.número_de_telefone|as_crispy_field }}


                                <button class="btn btn-primary button">Pagar com Mpesa</button>


                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}






