{% extends "editora/layout/base.html" %}

{% load static %}
{% load crispy_forms_tags %}


{% comment %}

{% endcomment %}

{# overide the tile of the page #}
{% block title %}
<title>Editora Trinta Zero</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
style(type='text/css')
    body{
        background-color: whitesmoke;
    }
    .payment{
        background-color: white;
        padding: 20px;
        width: 500px;
        margin-top: 35px;

    }
    .form-tip-message{
            margin-top:10px;
    }
    h1 {
            margin-left: 10px;

    }
    .tip-message i{
        font-size:35px;
    }

    .payment img{
        width: 60px;
    }
    h1, h2{
        font-size: 16px;
    }

    /*
      ##Device = Desktops
      ##Screen = 1281px to higher resolution desktops
    */

    @media (min-width: 1281px) {


    }

    /*
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {


    }

    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {


    }

    /*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



    }

    /*
    Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {



    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

    @media (min-width: 320px) and (max-width: 480px) {
        .aside{
            background: #fbf0e1;
            height: auto;
            padding: 40px;
            text-align: center;
        }

    }
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}
main.content
    {% include "editora/layout/navegation/navegation.jade" %}
    .container
        .row.justify-content-center.align-items-center

            .payment

                {% include 'editora/includes/messages.html' %}
                .tip-message
                    p.text-center <i class="fal fa-cash-register"></i>
                    p Uma notificação ussd da vodacom foi enviada para o seu número .  Insira seu pin Mpesa para autorizar a transação de pagamento .
                .payment-info




                    .d-flex.justify-content-between
                            img(src="{{ book.image }}")
                            h1 {{ book.name }}
                            h2 {{ book.price }} MT


                    form( method="POST", class="mpesa")
                        {% csrf_token %}
                        .row
                            .col-md-12
                                p.form-tip-message Digite o seu número de telefone  com  mpesa
                                | {{ form.número_de_telefone|as_crispy_field }}

                        .row.justify-content-center
                            button.btn.btn-primary.button Pagar com Mpesa
                    .paypal
                        {{ paypal_form.render }}

{% include "editora/layout/footer.jade" %}

script(type="text/javascript" src="{% static 'javascript/app.js' %}")
script(type="text/javascript")
    $(document).ready(function(){
        $('input:radio[name="payment"]').change(
        function(){
            if ($(this).is(':checked') && $(this).val() == 'mpesa') {
                     $(".mpesa").show();
                }else{
                    $(".mpesa").hide();

                }
                if ($(this).is(':checked') && $(this).val() == 'paypal') {
                     $(".paypal").show();
                }else{
                    $(".paypal").hide();

                }
         });
        $(".tip-message").hide();

        $(".paypal").hide();

        $(".mpesa").hide();
        $(".button").click(function () {

            $(".tip-message").show()
            $(".payment-info").hide()
        })


    });









{% endblock %}