{% extends "kutiva/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}"> -->


<link rel="stylesheet"  href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">
{% endblock %}



{% block content %}
      <div class="alignCenter">
        <div class="sign">
                       <h1><img src="{% static 'images/logo2.png' %}" class="logo" alt="kutiva logo"></h1>
 
                    <form class="alignElementCenter"  action="signin" method="post">
                         {% csrf_token %}
                        
                         <input type="email" placeholder="E-mail" class="inputField" name="username">
                         <input placeholder="Senha" type="password" class="inputField" name="password">
                        <p><a href="{% url 'password_reset' %}" class="unstyledLink link-button">Esqueceu a senha?</a></p>
                        <input type="submit" name="hello" class="primary-button" value="Iniciar Sessão">
                          
                       {% for message in messages %}
                          <p class="error alignTextCenter"> {{ message }}</p>
                    {% endfor %}

                    <p class="alignTextCenter"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">ou criar conta</a></p>
                     </form>
     
      </div>
      </div>
        
      

   
{% endblock %}

