{% extends "xpay/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}

{# overide the tile of the page #}
{% block title %}
    <title>Xindiri - Pagamentos online sem esforço com o mpesa</title>
{% endblock %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'stylesheet/xpay/account/sign.css' %}">
    <style>
        img {
            width: 45px;
            margin: 0 auto;
            display: block;
        }
    </style>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <form action="signin" method="post">
                <h1><img class="logo"
                         src="{% static 'images/logo.png' %}"
                         alt="xindiri"></h1>
                {% csrf_token %}
                <div class="form-group">
                    <label for="formGroupExampleInput">Email</label>
                    <input type="email" class="form-control" id="formGroupExampleInput" name="username"
                           placeholder="E-mail">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Palavra-passe</label>
                    <input placeholder="Palavra-passe" type="password" name="password" class="form-control"
                           id="password">
                </div>

                {% for message in messages %}
                    <p class="text-danger"> {{ message }}</p>
                {% endfor %}
                <input style="width: 100%" type="submit" name="hello" class="btn btn-primary" value="Iniciar Sessão">

                <p class="text-center"><a href="{% url 'password_reset' %}" class="btn btn-link">Esqueceu a senha?</a>
                </p>

                <p class="text-center">Não tem conta? <a href="{% url 'signup' %}" class="btn btn-link">Registe-se em
                    segundos</a></p>

            </form>
        </div>
    </div>








{% endblock %}

