.aside{
    background: rgb(13, 13, 13);
    height: 100vh;
}

.aside a{
    color: rgb(255, 255, 255);
}
.aside nav{
    margin-top:50px;
}
.aside a:hover{
     color: rgb(255, 255, 255);
     text-decoration: none;
}
.aside nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.aside nav ul li{
    padding: 10px;
}
aside nav ul li span{
    padding: 10px;
}