.aside{
    background: rgb(13, 13, 13);
    height: 100vh;
}

.aside a{
    color: rgb(255, 255, 255);
}
.aside nav{
    margin-top:50px;
}
.aside a:hover{
     color: rgb(255, 255, 255);
     text-decoration: none;
}
.aside nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.aside nav ul li{
    padding: 10px;
}
aside nav ul li span{
    padding: 10px;
}
a{
        color: rgb(255, 255, 255);

}
a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
.paragraph{
    font-size: 18px;
    color: #737373;
}
.heading{
    font-size: 32px;
    font-weight: bold;
}
.content{
    margin-top: 50px;
    margin-left: 50px;
}

header .dropdown{
    position: absolute;
    box-sizing: border-box;
     height: auto;
    top:10px;
    width: 320px;
    margin-top: 30px;
    border: 1px solid #cdd4db;
    border-radius: 4px;
    background-color: white;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    transition: transform 0s ease-out .2s, opacity .2s ease-out 0s, visibility .2s ease-out 0s, max-width 0s linear .2s, max-height 0s linear .2s;
    cursor: default;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}