<nav>
    <ul>
        <li>
            <a href="{% url 'index' %}">

                <span><i class="fas fa-tachometer-alt"></i></span>
                Painel
            </a>

        </li>
        <li>
            <a href="{% url 'transaction' %}">
                <span> <i class="fas fa-money-check"></i> </span>

                Transações
            </a>

        </li>
        <li>
            <a href="{% url 'api' %}">
                <span><i class="fab fa-codepen"></i></span>

                Desenvolvedor

            </a>
        </li>
        <li>
            <a href="{% url 'index' %}">
                <span><i class="fas fa-cog"></i></span>

               Definições

            </a>
        </li>

    </ul>
</nav>

