{% extends "dashboard/base/base.html" %}
{% load static %}

 {% block  content %}

 <style>
.grid-container{
    display: grid;
    grid-template-columns: 200px auto;
}
.wrapper-menu-sidebar{ margin-top: 30px;}   

.grid-container, .menu-user{
    padding-left: 3%;
    border-right: 1px solid #a29f9f;
    height: 500px;
}
.item-menu-user, a{
    font-size: 15px;
    color: #545353;
    text-decoration: none;
    padding-bottom: 15px;
}
.item-menu-user>a>i{
    color: #a29f9f;
    padding-right: 10px;
}
</style>














<!-- Content main  -->
<div class="grid-container">

    <div class="menu-user">
        <div class="wrapper-menu-sidebar">
            <div class="item-menu-user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>  MY ACCOUNT </a></div>
            <div class="item-menu-user"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i>  REQUEST MONEY </a></div>
            <div class="item-menu-user"><a href="#"><i class="fa fa-book" aria-hidden="true"></i>  HISTORIC </a></div>
        </div>
    </div>

</div>
<!-- End Content main  -->

 {%  endblock%}